#landing-page {
  #input-section {
    @include gradient-radial(#f67938, #ef4734);

    padding: 60px 15px 10px;

    color: white;
    text-align: center;

    h3 {
      margin-top: 0;
      margin-bottom: 40px;

      font-size: 22px;
      font-weight: 300;
    }

    .version-selectors {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    .version-selector{
      flex: 0 0 150px;

      margin: 10px 6px;
      text-align: center;

      label {
        margin: 0 6px 2px;

        text-transform: uppercase;
        text-decoration: underline;

        font-size: 14px;
      }

      select {
        font-size: 14px;
        width: 100px;
        margin: 0 auto 2px;
      }

      .generator-options {
        font-size: 12px;
      }
    }

    @include media-breakpoint-up(sm) {
      .version-selector .field-group{
        display: flex;
        align-items: center;
      }
    }

    .star-message {
      display: inline-block;

      margin-top: 40px;
      margin-bottom: 40px;
      padding: 10px 15px;

      font-size: 16px;

      border: 1px solid white;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  #diff-view-toggles {
    margin-top: 30px;

    text-align: center;

    .header {
      display: inline-block;
      margin-right: 8px;
      font-weight: bold;
    }

    .btn {
      &:focus,
      &:active,
      &.focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  #results-section {
    .message-container {
      text-align: center;

      color: var(--main-brand-color);

      margin-top: 30px;
      margin-bottom: 30px;

      .text {
        font-size: 24px;
        padding-left: 6px;
      }
    }
  }

  .diff-results-container {
    margin-top: 30px;
    margin-bottom: 30px;

    .d2h-file-list-header {
      a.d2h-file-switch {
        font-size: 14px;
        color: var(--main-brand-color);
        font-weight: bold;
      }
    }
  }

  .diff-results-container {
      display: none;
  }

  &.phx-diff-loaded-diff {
      #loading-container {
          display: none;
      }

      .diff-results-container {
          display: block;
      }

  }
}
