#landing-page {
  #input-section {
    @include gradient-radial(#F67938, #EF4734);

    padding: 60px 15px 10px;

    color: white;
    text-align: center;

    h3 {
      margin-top: 0;
      margin-bottom: 40px;

      font-size: 22px;
      font-weight: 300;
    }

    form {
      justify-content: center;

      label {
        margin: 0 6px;

        text-transform: uppercase;
        text-decoration: underline;

        font-size: 14px;
      }

      select {
        font-size: 14px;
        width: 100px;
      }

      .form-group {
        margin: 10px 6px;
      }
    }

    p {
      margin-top: 40px;
      font-size: 12px;
      font-style: italic;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  #diff-view-toggles {
    margin-top: 30px;

    text-align: center;

    .header {
      display: inline-block;
      margin-right: 8px;
      font-weight: bold;
    }

    .btn{
      &:focus, &:active, &.focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  #results-section {
    .message-container {
      text-align: center;

      color: $main-brand-color;

      margin-top: 30px;
      margin-bottom: 30px;

      .text {
        font-size: 24px;
        padding-left: 6px
      }
    }
  }

  #diff-results-container {
    margin-top: 30px;
    margin-bottom: 30px;

    .d2h-file-list-header {
      a {
        font-size: 14px;
        font-weight: bold;
        color: $main-brand-color;
        border: 2px solid $main-brand-color;
        padding: 2px 4px;
        margin: 2px 0 20px;
      }
    }
  }
}
