footer {
  font-size: 13px;
  color: #898989;
  background-color: #343434;

  p {
    margin: 0;
  }

  a, a:focus, a:visited {
    color: #b7b7b7;
  }

  a:hover {
    color: #eeeeee;
    text-decoration: none;
  }
}
