@import "variables";
@import "mixins";
@import "fonts";

#landing-page {
  #input-section {
    @include gradient-radial(#F67938, #EF4734);

    form {
      margin-top: 60px;
      margin-bottom: 60px;

      color: white;
      text-align: center;

      h3 {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 22px;

        @include font-open-sans-light;
      }

      label {
        @include font-open-sans-regular;
        margin-right: 6px;

        text-transform: uppercase;
        text-decoration: underline;
      }

      select {
        margin-right: 20px;
      }

      button {
        @include font-open-sans-bold;

        text-transform: uppercase;
        color: white;

        border-color: white;
        border-width: 2px;
        background-color: transparent;

        &:focus {
          outline:0;
        }
      }
    }
  }

  .message-container {
    text-align: center;

    color: $main-branding-color;

    margin-top: 30px;
    margin-bottom: 30px;

    .text {
      font-size: 24px;
      padding-left: 6px
    }
  }

  #diff-results-container {
    margin-top: 30px;
    margin-bottom: 30px;

    .d2h-file-list-header {
      a {
        font-size: 14px;
        font-weight: bold;
        color: $main-branding-color;
        border: 2px solid $main-branding-color;
        padding: 2px 4px;
        margin-left: 4px;
      }
    }
  }
}
