@import "variables";
@import "fonts";

nav.navbar {
  a.navbar-brand {
    @include font-open-sans-bold;
    font-size: 28px;

    color: $main-branding-color;
  }

  a.navbar-link {
    color: $main-branding-color;

    i.fa {
      padding-left: 3px;
      font-size: 20px;
    }
  }
}
