<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title prefix="PhoenixDiff · ">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <meta name="description" content="See the changes needed to upgrade your Phoenix application" />
    <meta name="keywords" content="Elixir,Phoenix,PhoenixFramework,Upgrade,Diff,PhoenixDiff" />
    <meta name="author" content="Navin Peiris @navinpeiris" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />

    <.honeybadger_error_tracking honeybadger={@honeybadger} />

    <link rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static src={~p"/assets/app.js"}>
    </script>
    <script :if={assigns[:dark_mode_enabled?]} type="text/javascript">
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>

  <body class="min-h-screen flex flex-col dark:bg-zinc-800 dark:text-white">
    <nav role="navigation">
      <div class="p-4 flex text-brand justify-between items-center">
        <a class="text-2xl font-bold" href="/">PhoenixDiff</a>

        <ul>
          <li>
            <a href="https://github.com/navinpeiris/phoenix-diff" target="_blank">
              View on GitHub <.icon name="fa-github-brand" class="w-4 h-4 align-[-.125rem]" />
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="flex-1">
      <%= @inner_content %>
    </main>

    <footer class="bg-zinc-700 text-zinc-400">
      <div class="container mx-auto px-3 py-4 text-center text-sm">
        To all alchemists with <.icon name="fa-heart-solid" class="w-4 h-4 align-[-.125rem]" />
        by Navin Peiris
        <div class="sm:inline">
          <a class="ml-1 underline" href="https://github.com/navinpeiris" target="_blank">
            GitHub
          </a>
          |
          <a class="underline" href="https://twitter.com/navinpeiris" target="_blank">Twitter</a>
          |
          <a class="mr-1 underline" href="https://www.linkedin.com/in/navinpeiris" target="_blank">
            LinkedIn
          </a>
        </div>
      </div>
    </footer>

    <%= if @analytics.enabled? do %>
      <.google_analytics tracking_id={@analytics.ga_tracking_id} />
    <% end %>
  </body>
</html>
