name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        id: beam
        with:
          otp-version: '27.0'
          elixir-version: '1.17.1'
      - name: Restore the build cache
        uses: actions/cache/restore@v4
        id: build_cache
        with:
          path: |
            _build
            deps
          key: ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-cache-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - run: mix deps.get
      - run: mix compile --force --warnings-as-errors
      - name: Save the build cache
        uses: actions/cache/save@v4
        if: steps.build_cache.outputs.cache-hit != 'true'
        with:
          path: |
            _build
            deps
          key: ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-cache-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Restore core plt cache
        uses: actions/cache/restore@v4
        id: core-plt-cache
        with:
          path: .dialyzer/core
          key:
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt-core-v1
      - name: Restore local plt cache
        uses: actions/cache/restore@v4
        id: local-plt-cache
        with:
          path: .dialyzer/local
          key:
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt-local-${{ env.MIX_ENV || 'dev' }}-v1-${{ hashFiles('**/mix.lock')}}
      - name: Compile dialyzer PLT
        if: steps.local-plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p .dialyzer/core
          mkdir -p .dialyzer/local
          mix dialyzer --plt
      - name: Save the core plt cache
        uses: actions/cache/save@v4
        if: steps.core-plt-cache.outputs.cache-hit != 'true'
        with:
          path: .dialyzer/core
          key:
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt-core-v1
      - name: Save the local plt cache
        uses: actions/cache/save@v4
        if: steps.local-plt-cache.outputs.cache-hit != 'true'
        with:
          path: .dialyzer/local
          key:
            ${{ runner.os }}-${{ steps.beam.outputs.elixir-version }}-${{ steps.beam.outputs.otp-version }}-plt-local-${{ env.MIX_ENV || 'dev' }}-v1-${{ hashFiles('**/mix.lock')}}
      - run: mix ci

  test_javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Download phoenix so we yarn install works correctly
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '27.0'
          elixir-version: '1.17.1'
      - uses: actions/cache@v4
        with:
          path: |
            _build
            deps
          key: ${{ runner.os }}-dev-cache-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - run: mix deps.get
      - uses: actions/setup-node@v4
        with:
          node-version: '14.19.0'
      - name: Install dependencies
        run: yarn install
        working-directory: assets
      - name: Build assets
        run: yarn run deploy
        working-directory: assets

  deploy_staging:
    name: Staging
    needs: [test, test_javascript]
    if: github.repository == 'phoenix-diff/phoenix-diff' && github.ref_name == 'master'
    uses: ./.github/workflows/cd.yaml
    with:
      environment: Staging
    secrets: inherit

  deploy_production:
    name: Production
    needs: [deploy_staging]
    if: github.repository == 'phoenix-diff/phoenix-diff' && github.ref_name == 'master'
    uses: ./.github/workflows/cd.yaml
    with:
      environment: Production
    secrets: inherit
